on early-init
    write /sys/class/power_supply/battery/capacity 100
    write /sys/class/power_supply/battery/temp 25
    write /sys/class/power_supply/battery/status "Full"

on charger && property:ro.boot.bootreason="reboot,LPM"
    # setprop ro.bootmode "normal"
    setprop sys.powerctl "reboot"
    # reboot

#on property:ro.bootmode=charger
