on charger && property:ro.boot.bootreason="reboot,LPM"
    # setprop ro.bootmode "normal"
    setprop sys.powerctl "reboot"
    # reboot

#on property:ro.bootmode=charger
#    setprop debug.autoboot.bootmodecharger 1
